name: SonarCloud Analysis

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'Stage-01-poc/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'Stage-01-poc/**'

env:
  SOLUTION_DIR: "Stage-02-new-architecture/Src/"

jobs:
  build-test-sonar:
    name: Build, Test & Analyze (.NET projects)
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required for SonarCloud analysis

      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v3
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner
      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore ${{ env.SOLUTION_DIR }}AssetTracker.sln /p:EnableWindowsTargeting=true

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"${{ secrets.SONAR_PROJECT_KEY }}" /o:"${{ secrets.SONAR_ORGANIZATION }}" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:"sonar.verbose=true" /d:"sonar.dotnet.excludeTestProjects=true" /d:"sonar.cs.opencover.reportsPaths=${{ env.SOLUTION_DIR }}/**/coverage.opencover.xml" /d:sonar.host.url="https://sonarcloud.io"
          dotnet restore ${{ env.SOLUTION_DIR }}AssetTracker.sln /p:EnableWindowsTargeting=true
          dotnet build ${{ env.SOLUTION_DIR }}AssetTracker.sln --no-restore --configuration Release /p:EnableWindowsTargeting=true
          dotnet test ${{ env.SOLUTION_DIR }}AssetTracker.sln --no-restore --configuration Release --collect:"XPlat Code Coverage;Format=opencover"
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
