name: SonarCloud Analysis
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'Stage-01-poc/**'
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - 'Stage-01-poc/**'

env:
  SOLUTION_DIR: Stage-02-new-architecture/Src

jobs:    
  SonarQubeForDotNet:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # required for SonarCloud analysis
          
      - name: Install SonarQube scanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Build and analyze
        run: |
          cd ${{ env.SOLUTION_DIR }}
          dotnet sonarscanner begin /k:"${{ secrets.SONAR_PROJECT_KEY }}" /o:"${{ secrets.SONAR_ORGANIZATION }}" /d:sonar.host.url="https://sonarcloud.io" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:"sonar.verbose=true"
          dotnet build
          dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
